# Import
import("ade4", "gbm", "sp", "MigClim", "doParallel", "foreach", "iterators", "parallel")
#import("alphahull")
import(ape, except=c(complement))
#import("gam")
importFrom("adehabitatHR", kernelUD)
importFrom("adehabitatMA", ascgen)
importFrom("biomod2", BinaryTransformation, BIOMOD_Modeling,BIOMOD_tuning, BIOMOD_Projection, BIOMOD_FormatingData, BIOMOD_ModelingOptions, get_predictions, get_evaluations, .Models.prepare.data)
importFrom("dismo", maxent, gbif, randomPoints, predict, convHull, circles)
importFrom("ecodist", mgram)
importFrom("maptools", spRbind)
importFrom("randomForest", randomForest)
importFrom("spatstat", nndist)
importFrom("raster", cellFromXY, extract, nlayers, projection, stack, reclassify, rasterToPolygons, raster, removeTmpFiles, getValues, cellStats, crs, as.matrix, maxValue, clump, "res<-", "res", rasterize, addLayer, init, xyFromCell, freq) 
importFrom("rms", pol)
importFrom("gtools", mixedsort, combinations)
importFrom("PresenceAbsence", presence.absence.accuracy, optimal.thresholds)
#new suggested by check
importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off", "gray", "grey")
importFrom("graphics", "abline", "arrows", "barplot", "boxplot", "contour", "hist", "image", "lines", "pairs", "par", "plot.new", "points", "polygon", "rect", "segments", "strwidth", "text", "title")
importFrom("methods", "slotNames", "as")
importFrom("stats", "aggregate", "as.dist", "binomial", "coef", "complete.cases", "cor", "density", "dist", "ecdf", "glm", "mahalanobis", "median", "model.frame", "na.exclude", "na.omit", "quantile", "rbinom", "runif", "sd", "step", "update", "var", "weighted.mean", "rexp")
importFrom("utils", "combn", "packageVersion", "setTxtProgressBar", "txtProgressBar", "write.table")
importFrom("classInt", "classIntervals")
importFrom("vegan", "permatswap")
importFrom("poibin", "dpoibin")

# Export
export(ecospat.adj.D2.glm)
export(ecospat.binary.model)
export(ecospat.boyce)
export(ecospat.calculate.pd)
export(ecospat.caleval)
export(ecospat.climan)
export(ecospat.co_occurrences)
export(ecospat.cohen.kappa)
export(ecospat.cons_Cscore)
export(ecospat.Cscore)
export(ecospat.cor.plot)
export(ecospat.cv.example)
#export(ecospat.cv.gam)
export(ecospat.cv.gbm)
export(ecospat.cv.glm)
export(ecospat.cv.me)
export(ecospat.cv.rf)
export(ecospat.env)
export(ecospat.Epred)
export(ecospat.ESM.EnsembleModeling)
export(ecospat.ESM.EnsembleProjection)
export(ecospat.ESM.Modeling)
export(ecospat.ESM.Projection)
export(ecospat.grid.clim.dyn)
export(ecospat.makeDataFrame)
export(ecospat.mantel.correlogram)
export(ecospat.max.kappa)
export(ecospat.max.tss)
export(ecospat.maxentvarimport)
export(ecospat.mess)
export(ecospat.meva.table)
export(ecospat.migclim)
export(ecospat.mpa)
export(ecospat.niche.dyn.index)
export(ecospat.niche.dynIndexProjGeo)
export(ecospat.niche.equivalency.test)
export(ecospat.niche.overlap)
export(ecospat.niche.similarity.test)
export(ecospat.niche.zProjGeo)
export(ecospat.npred)
export(ecospat.occ.desaggregation)
export(ecospat.permut.glm)
export(ecospat.plot.contrib)
export(ecospat.plot.kappa)
export(ecospat.plot.mess)
export(ecospat.plot.niche)
export(ecospat.plot.niche.dyn)
export(ecospat.plot.overlap.test)
export(ecospat.plot.tss)
export(ecospat.rand.pseudoabsences)
export(ecospat.rcls.grd)
export(ecospat.recstrat_prop)
export(ecospat.recstrat_regl)
export(ecospat.sample.envar)
export(ecospat.SESAM.prr)
export(ecospat.shift.centroids)
export(ecospat.CommunityEval)
export(ecospat.varpart)
#export(ecospat.ByRegions)
export(ecospat.mdr)
export(ecospat.rangesize)
export(ecospat.occupied.patch)
export(ecospat.CCV.createDataSplitTable)
export(ecospat.CCV.modeling)
export(ecospat.CCV.communityEvaluation.bin)
export(ecospat.CCV.communityEvaluation.prob)